/*
$header: #323233;
$header-hover: #505050;
$sidebar: #333333;
$explorer-tab: #252526;
$explorer-tab-selected: #37373D;
$editor-background: #252526;
$empty-color: #333333;
*/
html, body {
  font-family: 'Roboto',Arial, Helvetica, sans-serif;
  background-color: #000;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fffd;
}

ul.nav {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  background-color: #151515;
}

ul.nav li {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

ul.nav li:hover {
  background-color: #505050;
  cursor: default;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 700px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container ul.edt {
  list-style: none;
  width: 15rem;
  padding: 0;
  margin-left: 4rem;
  -webkit-box-shadow: 0px 0px 3px black;
          box-shadow: 0px 0px 3px black;
  height: 40rem;
}

@media screen and (max-width: 700px) {
  .container ul.edt {
    width: calc(100% - 5rem);
  }
}

.container ul.edt li {
  text-shadow: 0.2px 0.2px 2px #000D;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 4rem;
  background-color: #b12f2f;
  position: relative;
}

.container ul.edt li.l2 {
  height: 8rem;
}

.container ul.edt li.empty {
  background-color: #202020;
}

.container ul.edt li.cancelled {
  background-color: #202020 !important;
  text-decoration: line-through !important;
  color: #FFFB !important;
}

.container ul.edt li a.timer {
  font-size: 0.9rem;
  position: absolute;
  margin: 0.1rem 0.3rem;
}

.container ul.edt li a.timer.timer-left {
  top: -0.5rem;
  left: -3.25rem;
}

.container ul.edt li.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 2rem;
  background-color: #151515;
}

.container ul.edt li.title a {
  line-height: 2rem;
}

.container ul.edt li.title.edt-title {
  height: 4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container ul.edt li.title.edt-title div.row {
  height: 2rem;
}

.container ul.edt li.title.edt-title div.row.date {
  font-size: 0.9rem;
}

.container ul.edt li a.icon {
  cursor: pointer;
  color: #fffd;
  text-decoration: none;
  margin: 0rem 1rem;
}

.container ul.edt li a.icon:hover {
  color: #fff9;
}

.container ul.devoirs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 1rem 1rem;
  -webkit-box-shadow: 0px 0px 3px black;
          box-shadow: 0px 0px 3px black;
  background-color: #202020;
  overflow-y: auto;
  height: 40rem;
}

@media screen and (min-width: 700px) {
  .container ul.devoirs {
    width: 30rem;
    min-width: 30rem;
    max-width: 30rem;
  }
}

@media screen and (max-width: 700px) {
  .container ul.devoirs {
    min-height: 80vh;
  }
}

.container ul.devoirs li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  margin-bottom: 1rem;
}

.container ul.devoirs li.title {
  line-height: 2rem;
  text-align: center;
  height: 2rem;
  background-color: #151515;
  margin-bottom: 0rem;
}

.container ul.devoirs li a {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  font-size: 1rem;
}

.container ul.devoirs li a.message {
  margin-top: 0.5rem;
}

.container ul.devoirs li a.title {
  border-left: solid 4px #9b59b6;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1.2rem;
}

.container ul.devoirs li a.file {
  color: #3498db;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
}
/*# sourceMappingURL=NAPI.css.map */